.mng-create-content {
  padding: 10px 20px;
  .avatar-load {
    padding: 20px 30px;
    text-align: center;
  }

  .upload-img {
    width: 120px;
    height: 120px;
    border: dashed gray 1px;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
    position: relative;

    &:hover {
      border-color: blue;
      color: blue;
    }
  }

  .image-crop-url {
    position: relative;
    .image-cover {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      padding: 40px;
      transition: 0.5s;
      background-color: rgba(30, 30, 30, 0.251);

      &:hover {
        display: block;
        color: white;
      }
    }
  }

  #avatarUrl {
    display: none;
  }
  #imgContent {
    display: none;
  }

  .upload-img-content {
    width: 100px;
    height: 30px;
    padding: 5px 15px;
    border: dashed gray 1px;
    border-radius: 5px;
    margin-right: 20px;
    .anticon svg {
      display: inline-block;
      margin-bottom: 10px;
    }

    &:hover {
      border-color: blue;
      color: blue;
    }
  }

  .image-crop-url {
    height: 120px;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid gray 1px;

    #avatar-announcements {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .embed-image {
    position: absolute;
    top: -25px;
    right: 0px;
    float: right;
  }
}
