.annou-edit-modal {
  p {
    margin-bottom: 0px !important;
  }

  .content-edit {
    padding: 20px 5px;
  }
}

.high_light {
  color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  padding: 0px 5px;
  margin: 5px;
  border-radius: 3px;
  height: auto;
}
.normal {
  color: rgb(159, 255, 245);
  border-color: rgb(159, 255, 245);
  padding: 0px 5px;
  margin: 5px;
  border-radius: 3px;
}
.in_day {
  color: rgb(105, 192, 255);
  border-color: rgb(105, 192, 255);
  padding: 0px 5px;
  margin: 5px;
  border-radius: 3px;
}
.top {
  color: red;
  border-color: red;
  padding: 0px 5px;
  margin: 5px;
  border-radius: 3px;
}
.unlock {
  color: rgb(35, 35, 35);
  border-color: rgb(242, 246, 156);
  padding: 0px 5px;
  margin: 5px;
  border-radius: 3px;
}
.italic {
  font-style: italic;
}

.f-sm {
  font-size: 0.8rem;
  background-color: whitesmoke;
  border: solid 1px;
}

.f-b {
  font-size: 0.8rem;
  background-color: whitesmoke;
  border: solid 1px;
}
