.ant-select-dropdown {
  max-height: 50vh !important;
}

.ant-select-selection__choice {
  color: white;
  background-color: #168ECD;
  border: solid rgba(0, 0, 255, 0.306) 1px;
  i {
    color: white ;
  }
}
