.annou-edit-modal {
  p {
    margin-bottom: 0px !important;
  }

  .content-edit {
    padding: 20px 5px;
    text-align: justify;
  }
}

.ant-list-item-meta {
  margin-bottom: 5px !important;
}

.ant-list-item-meta-title {
  margin-bottom: 5px !important;
}
.content-list {
  margin-left: 50px;
  text-align: justify;
}
